---
- name: Configure SSH hardening
  copy:
    dest: /etc/ssh/sshd_config.d/99-hardening.conf
    content: |
      PermitRootLogin no
      PasswordAuthentication no
      PubkeyAuthentication yes
      X11Forwarding no
  notify: Restart SSH
